{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=\, initial-scale=1.0"/>
    <link rel="stylesheet" href="{% static '/styles/styles.css' %}"/>
    <title>Cookypedia</title>
</head>
<body>
<div id="wrapper">

    {% include 'core/navbar.html' %}

    <main>
        <h2>All Recipes</h2>
        <div>
            {% for recipe in recipes %}
                <div>
                <div class="form">
                    <div id="details-description">
                        <p>{{ recipe.name }}</p>
                        <p><img src="{{ recipe.recipe_photo.url }}" width="300"></p>
                        <p>Username: {{ recipe.user.username }}</p></div>
                    <p>

                    <div id="action-buttons">
                        <a href="{% url 'other recipe details' pk=recipe.pk %}" id="edit-btn">More Info</a>
                    </div>

                    {% for comment in recipe.recipecomment_set.all %}
                        <div class="comments" id="details-description">
                            <div>
                                <ul>
                                    <li>{{ comment.user.first_name }} {{ comment.user.last_name }}
                                        said: {{ comment.comment_text }}</li>
                                </ul>
                                At: {{ comment.date_time_of_publication }}
                            </div>
                        </div>
                    {% endfor %}

                    <form method="post" action="{% url 'comment recipe' recipe_id=recipe.pk %}"
                          id="details-description">
                        {{ comment_form_recipe }}
                        {% csrf_token %}
                        <button type="submit" id="details-description">Post</button>
                    </form>
                </div>
            {% endfor %}
            </div>
        </div>
    </main>
</div>
</body>
</html>
