{% extends 'recipe/base-recipe.html' %}
{% block content %}

    <main>

        <section id="details">
            <div id="details-description">
                <h2>Add Cocktail</h2>
                <form method="post" action="{% url 'cocktail add' %}" enctype="multipart/form-data" class="form">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <button class="add-btn" type="submit">Add Cocktail</button>
                </form>
            </div>
        </section>
    </main>

{% endblock %}
