#details-wrapper {
  background-color: rgb(235, 242, 241);
  margin: 50px auto;
  height: 75%;
  width: 80%;
 border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.24);
}

#details-wrapper img {
  display: block;
  margin: 10px auto;
  height: 30vh;
  width: 30vh;
}

#details-title {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

#details-description {
  width: 95%;
  margin: 30px auto;
  height: auto;
  text-align: center;
  color: rgb(231, 13, 64);
}
#details-title {
  font-size: 32px;
  color: rgb(231, 13, 64);
}

p {
  text-align: center;
  font-size: 14px;
}

span {
  font-size: 22px;
}

#action-buttons {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 10px;
  
}

#action-buttons a {
  text-decoration: none;
  margin: auto 70px;
  margin-bottom: 10px;
  font-size: 21px;
  width: 170px;
  text-align: center;
  color: #ec9fb3;
  background: rgb(235, 242, 241);
  border-radius: 30px;
}
#action-buttons a:hover {
  background: #7195d7;
}
#nutrition {
  font-size: 22px;
  color: rgb(231, 13, 64);
}