{% extends 'profiles/base-profile.html' %}
{% load static %}
{% block content %}

    <main>

        <section id="details">
            <div id="details-wrapper">
                <h2>Profile Details</h2>
                <img id="details-img" src="{{ profile_image }}" alt="profile img"/>
                <p id="details-title">{{ object.username }}</p>
                <div id="info-wrapper">
                    <div id="details-description">
                        <p>
                            {% if object.full_name is not None %}
                                {{ object.full_name }}
                            {% else %}
                                Empty
                            {% endif %}
                        </p>

                        <p>{{ object.email }}</p>

                        <p>Age: {{ object.age }}</p>

                    </div>

                    <div id="action-buttons">
                        <a href="{% url 'profile edit' pk=object.pk %}" id="edit-btn">Edit</a>
                        <a href="{% url 'profile delete' pk=object.pk %}" id="delete-btn">Delete</a>
                    </div>
                </div>
            </div>
        </section>

    </main>
{% endblock %}
