{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=\, initial-scale=1.0"/>
    <link rel="stylesheet" href="{% static '/styles/styles.css' %}"/>
    <title>Cookypedia</title>
</head>
<body>
<div id="wrapper">

    <header>

        <a id="logo" href="{% url 'index' %}">
            <p><img src="{% static '/images/logo.jpg' %}" alt="logo" height="100" width="100"></p>
        </a>
    </header>

    <form
            action="{% url 'register user' %}"
            method="post">

        {{ form.as_p }}

        <div>
            <p>
                <button>Register</button>
            </p>
        </div>

        {% csrf_token %}
    </form>
</div>